<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main class="row">
		<div th:each="p:${ITEMS_PAGE.content}" class="col-sm-4" style="margin-top: 20px;">
			<div class="card poly-item">
				<div class="card-header">
					<b th:text="${p.name}"></b>
				</div>
				<div class="card-body">
					<a th:href="@{|/product/detail/${p.id}|}"> 
						<img th:src="@{|/rest/upload/images/${p.image}|}">
					</a>
				</div>
				<div class="card-footer">
					<b>$[[${p.price}]]</b>
					<button class="btn btn-success float-right" 
						th:attr="ng-click=@{|cart.add(${p.id})|}">
					</button>
				</div>
			</div>
		</div>
		<div class="col-sm-12" style="margin-top: 20px;">
			<ul class="pagination float-right">
			    <li class="page-item">
			    	<a class="page-link" th:href="@{|?p=0|}">First</a>
			    </li>
			    <li class="page-item">
			      <a class="page-link" th:href="@{|?p=${ITEMS_PAGE.number - 1}|}">Back</a>
			    </li>
			    <li class="page-item">
			    	<a class="page-link" th:href="@{|?p=${ITEMS_PAGE.number + 1}|}">Next</a>
			    </li>
			    <li class="page-item">
			      <a class="page-link" th:href="@{|?p=${ITEMS_PAGE.totalPages - 1}|}">Last</a>
		    	</li>
		  </ul>
		</div>
	</main>


</body>
</html>