<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/layout/index::dynamic(~{::main})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <main>
        <div class="card" th:fragment="shopping-cart" style="margin-top: 20px;">
        	<div class="cart-header">SHOPPING CART</div>
        	<div class="cart-body">
        		<table class="table">
        			<thead>
        				<tr>
        					<th>Id</th>
        					<th>Name</th>
        					<th>Price</th>
        					<th>Quantity</th>
        					<th>Amount</th>
        					<th></th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr ng-repeat="item in cart.items">
        					<td>{{item.id}}</td>
        					<td>{{item.name}}</td>
        					<td>{{item.price|number:2}}</td>
        					<td>
        						<input ng-model="item.qty" type="number" min="1" ng-change="cart.saveToLocalStorage()">
        					</td>
        					<td>${{item.qty * item.price | number:2}}</td>
        					<td>
        						<button ng-click="cart.remove(item.id)" class="btn btn-sm btn-success">Remove</button>
        					</td>
        				</tr>
        			</tbody>
        		</table>
        	</div>
        	<div class="cart-footer">
        		<button ng-click="cart.clear()" class="btn btn-danger">Clear</button>
        		<a th:href="@{/order/checkout}" class="btn btn-primary">Checkout</a>
        	</div>
        </div>
    </main>
    

</body>
</html>